<section class="hero is-fullheight ">
  <div class="hero-body">
  <div class="container">
        <div class="has-text-centered">
            <h1 class="title">Real Time Travel Companion</h1>
            <h2 class="subtitle">by <a href="#">Cieran Neeson</a></h2>
          
          <div class="field has-addons">
            <p class="control">
              <input class="input is-primary is-medium" type="stop" placeholder="Enter a Stop..">
            </p>
            <p class="control">
              <button type="submit" class="button is-primary is-outlined is-medium">FIND</button>
            </p>
          </div>


          <p class="transport-wrapper field">
            <a class="button is-warning is-large is-outlined">
              <span class="icon is-medium">
                <i class="fa fa-train" aria-hidden="true"></i>
              </span>
            </a>
            <a class="button is-primary is-large is-outlined">
              <span class="icon is-medium">
                <i class="fa fa-bus" aria-hidden="true"></i>
              </span>
            </a>
          </p>          
          <p class="transport-wrapper field">
            <a class="button is-info is-large is-outlined">
              <span class="icon is-medium">
                <i class="fa fa-subway" aria-hidden="true"></i>
              </span>
            </a>
            <a class="button is-danger is-large is-outlined">
              <span class="icon is-medium">
                <i class="fa fa-motorcycle" aria-hidden="true"></i>
              </span>
            </a>
          </p>
        </div>
    </div> 
    </div> 
  </div>
</section>